<!--<div id="toolbar" class="wysihtml5-toolbar btn-toolbar col-md-9">-->
  <!--<div class="btn-group">-->
    <!--<a data-wysihtml5-command="bold" class="btn btn-default">Bold</a>-->
    <!--<a data-wysihtml5-command="italic" class="btn btn-default">Italic</a>-->
    <!--<a data-wysihtml5-command="underline" class="btn btn-default">Underline</a>-->
  <!--</div>-->
  <!--<div class="btn-group">-->
    <!--<a data-wysihtml5-command="insertUnorderedList" class="btn btn-default">-->
      <!--<i class="fa fa-list-ul"></i>-->
    <!--</a>-->
    <!--<a data-wysihtml5-command="insertOrderedList" class="btn btn-default">-->
      <!--<i class="fa fa-list-ol"></i>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<div id="toolbar" class="wysihtml5-toolbar btn-toolbar col-md-12 row-fluid">
<ul class="pagination no-margin span pull-left">
  <li><a data-wysihtml5-command="bold" title="Bold" class="fa fa-bold"></a></li>
  <li><a data-wysihtml5-command="italic" title="Italic" class="fa fa-italic"></a></li>
  <li><a data-wysihtml5-command="underline" title="Underline" class="fa fa-underline"></a></li>
</ul>
<ul class="pagination no-margin pull-left">
  <li><a data-wysihtml5-command="insertUnorderedList" title="Bulleted list" class="fa fa-list-ul"></a></li>
  <li><a data-wysihtml5-command="insertOrderedList" title="Numbered list" class="fa fa-list-ol"></a></li>
  <li><a data-wysihtml5-command="indent" title="Indent more" class="fa fa-indent"></a></li>
  <li><a data-wysihtml5-command="Outdent" title="Indent less" class="fa fa-outdent"></a></li>
  <!--<li><a data-wysihtml5-command="insertLineBreak" title="line break" class="fa fa-level-down"></a></li>-->
</ul>
</div>