//colors
$color_celeste_approx: #ccc;
$color_log_cabin_approx: #222;

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  color: $color_celeste_approx;
  border-style: dashed;
  border-color: $color_celeste_approx;
  line-height: 200px;
  text-align: center;
  &.drop {
    color: $color_log_cabin_approx;
    border-color: $color_log_cabin_approx;
  }
}

#dragandrophandler
{
  border:2px dotted #0B85A1;
  width:400px;
  color:#92AAB0;
  text-align:left;vertical-align:middle;
  padding:10px 10px 10 10px;
  margin-bottom:10px;
  font-size:200%;
}
#drop_zone {
  width: 50%;
  border: 2px dashed #BBB;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: #BBB;
}
.removeAllImages {
  cursor:pointer;
}