//colors
$color_celeste_approx: #ccc;
$color_log_cabin_approx: #222;

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  color: $color_celeste_approx;
  border-style: dashed;
  border-color: $color_celeste_approx;
  line-height: 200px;
  text-align: center;
  &.drop {
    color: $color_log_cabin_approx;
    border-color: $color_log_cabin_approx;
  }
}